@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Red Hat Text";
    src: url(./assets/fonts/RedHatText-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: "Red Hat Text Italic";
    src: url(./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
  }
}

body {
  background-color: #fcf8f5;
}
